.main
  .artist-data
    %h1.artist-data__name
      = @artist.name
    %span.artist-data__double-line
    = image_tag @artist.image, class: "artist-data__image"
    - if user_signed_in?
      .follow-btn-box{id: "follow-btn-box-#{@artist.id}"}
        = render "shared/follow-button", artist: @artist
    %span.artist-data__start-single-line
    %p.artist-data__text
      = safe_join(@artist.text.split("\n"), tag(:br))
    %span.artist-data__end-single-line
    = link_to "BACK", artists_path, class: "artist-data__back-btn"