.main
  .articles
    %h1.articles__title LATEST ARTICLES
    %span.articles__double-line
    .articles__wrapper
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://upload.wikimedia.org/wikipedia/en/9/90/Scorpion_by_Drake.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019/8/8
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://ksassets.timeincuk.net/wp/uploads/sites/55/2018/01/The-Weeknd-920x584.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://urbanislandz.com/wp-content/uploads/2019/07/Big-Sean-Single-Again.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "http://bmd.black/wp-content/uploads/2019/05/triggered-jhene-aiko.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://i2.wp.com/lmusic.tokyo/wp-content/uploads/2019/05/ed-sheeran-cardiff-toilet-break-720x457.jpg?zoom=2&fit=720%2C457&ssl=1"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://mondrian.mashable.com/uploads%252Fcard%252Fimage%252F573111%252F3d02a4c5-196e-4c54-903f-afd03df37daa.png%252F950x534__filters%253Aquality%252880%2529.png?signature=AnXzwrEknDrXgauGgYV-TqcE14g=&source=https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
    .articles__more
      = link_to "READ MORE", "/", class: "articles__more__btn"
