.main
  .articles
    %h1.articles__title LATEST ARTICLES
    %span.articles__double-line
    .articles__wrapper
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://upload.wikimedia.org/wikipedia/en/9/90/Scorpion_by_Drake.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019/8/8
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://ksassets.timeincuk.net/wp/uploads/sites/55/2018/01/The-Weeknd-920x584.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://urbanislandz.com/wp-content/uploads/2019/07/Big-Sean-Single-Again.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "http://bmd.black/wp-content/uploads/2019/05/triggered-jhene-aiko.jpg"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://i2.wp.com/lmusic.tokyo/wp-content/uploads/2019/05/ed-sheeran-cardiff-toilet-break-720x457.jpg?zoom=2&fit=720%2C457&ssl=1"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
      = link_to root_path, class: "article" do
        .article__image
          = image_tag "https://mondrian.mashable.com/uploads%252Fcard%252Fimage%252F573111%252F3d02a4c5-196e-4c54-903f-afd03df37daa.png%252F950x534__filters%253Aquality%252880%2529.png?signature=AnXzwrEknDrXgauGgYV-TqcE14g=&source=https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com"
        .article__text-box
          %h2.article__text-box__title
            記事のタイトルがここに入るよ記事のタイトルがここに入るよ記事のタイトルがここに入るよabcd
          %p.article__text-box__date
            2019年8月8日
    .articles__more
      = link_to "READ MORE", "/", class: "articles__more__btn"

  .movies
    %h1.movies__title LATEST VIDEOS
    %span.movies__double-line
    .movies__wrapper
      = link_to root_path, class: "movie" do
        .movie__thumnail
          = image_tag "http://img.youtube.com/vi/6L_k74BOLag/mqdefault.jpg"
        .movie__details
          %p.movie__details__song-title
            No Guidance feat. Drake
          %p.movie__details__artist-name
            Chris Brown
          %p.movie__details__date
            2019/8/8
      = link_to root_path, class: "movie" do
        .movie__thumnail
          = image_tag "http://img.youtube.com/vi/pSygxjkVoHY/mqdefault.jpg"
        .movie__details
          %p.movie__details__song-title
            Slow For Me feat. Tory Lanez
          %p.movie__details__artist-name
            Melii
          %p.movie__details__date
            2019/8/8
      = link_to root_path, class: "movie" do
        .movie__thumnail
          = image_tag "http://img.youtube.com/vi/wzGQ7r6e_0U/mqdefault.jpg"
        .movie__details
          %p.movie__details__song-title
            Blame (Audio)
          %p.movie__details__artist-name
            Bryson Tiller
          %p.movie__details__date
            2019/8/8
      = link_to root_path, class: "movie" do
        .movie__thumnail
          = image_tag "http://img.youtube.com/vi/ba7mB8oueCY/mqdefault.jpg"
        .movie__details
          %p.movie__details__song-title
            Goodbyes feat. Young Thug (Rated R)
          %p.movie__details__artist-name
            Post Malone
          %p.movie__details__date
            2019/8/8
      = link_to root_path, class: "movie" do
        .movie__thumnail
          = image_tag "http://img.youtube.com/vi/3kkZWKSvG2s/mqdefault.jpg"
        .movie__details
          %p.movie__details__song-title
            F*ck It Up feat. Kash Doll
          %p.movie__details__artist-name
            Iggy Azalea
          %p.movie__details__date
            2019/8/8
      = link_to root_path, class: "movie" do
        .movie__thumnail
          = image_tag "http://img.youtube.com/vi/gSVUfktiLpo/mqdefault.jpg"
        .movie__details
          %p.movie__details__song-title
            Single Again
          %p.movie__details__artist-name
            Big Sean
          %p.movie__details__date
            2019/8/8
    .movies__more
      = link_to "WATCH MORE", "/", class: "movies__more__btn"