.video__inner
  .video__inner__thumnail
    = image_tag "http://img.youtube.com/vi/#{video.videoID}/mqdefault.jpg"
  .video__inner__details
    %p.video__inner__details__song-title
      = video.title
    %p.video__inner__details__artist-name
      = video.artist.name
    %p.video__inner__details__date
      = video.created_at.strftime("%Y/%m/%d")